axel-common/src/test/resources/transform/storage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns="http://www.xmlactions.org/storage" 
    targetNamespace="http://www.xmlactions.org/storage"
      attributeFormDefault="unqualified" 
      elementFormDefault="qualified" 
      >

      <xsd:element name="storage" >
            <xsd:annotation>
                  <xsd:documentation><![CDATA[
                  The Root element containing one or more repositories such as Database.
                  ]]></xsd:documentation>
                  <xsd:documentation><![CDATA[
                  Future versions may contain xml resources, file properties and resources...
                  ]]></xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
                  <xsd:sequence>
                        <xsd:element ref="database" minOccurs="0" maxOccurs="unbounded">
                              <xsd:annotation>
                                    <xsd:documentation>
                                          A Database definition.
                                    </xsd:documentation>
                              </xsd:annotation>
                        </xsd:element>    
                  </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The storage name
                              </xsd:documentation>
                        </xsd:annotation> 
                  </xsd:attribute>
            </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="database">
            <xsd:annotation>
                  <xsd:documentation><![CDATA[
                  A Database definition. 
                  ]]></xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
                  <xsd:sequence>
                        <xsd:element ref="table" minOccurs="1" maxOccurs="unbounded">
                              <xsd:annotation>
                                    <xsd:documentation>
                                    The definition of a database table.
                                    </xsd:documentation>
                              </xsd:annotation> 
                        </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The database name
                              </xsd:documentation>
                        </xsd:annotation> 
                  </xsd:attribute>
            </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="table">
            <xsd:annotation>
                  <xsd:documentation><![CDATA[
                  The definition of a database table.
                  ]]></xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
                  <xsd:group ref="table_fields" />
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The table name
                              </xsd:documentation>
                        </xsd:annotation> 
                  </xsd:attribute>
            <xsd:attribute name="as" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        This is used instead of the table name when building the query field 
                        outputs.
                        <p>
                        When the system is building an SQL query the table name is placed 
                        before the field name to create a unique identifier. eg. "table.fieldname".
                        </p>
                        <p>
                        This is also used when building the identifier for the "as". eg.
                        "select table.fieldname <b>as</b> table_fieldname from"...
                        </p>
                        <p>
                        If this is set then the alias value will replace the table name for
                        the output. eg. "select table.fieldname <b>as</b> alias_fieldname from"...
                        </p>
                        <p>
                        If this is set to an empty string than the table name will not be used for
                        the output. eg. "select table.fieldname <b>as</b> fieldname from"...
                        </p>
                    </xsd:documentation>
                </xsd:annotation>   
            </xsd:attribute>
            </xsd:complexType>
      </xsd:element>
      

    <xsd:element name="pk">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A primary key definition. 
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="fk">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A foreign key definition. Which is a references to another table in the database.
            A foreign key may contain referencing fields from the referenced table that can
            be displayed with the parent table. 
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:annotation>
                    <xsd:documentation>
                        List of fields, one or more which may be included within the foreign key. These
                        fields must match those in the referencing table, the presentation_name and length
                        may differ.
                    </xsd:documentation>
                </xsd:annotation>   
                <xsd:group ref="table_fields" />
            </xsd:sequence>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="foreign_table" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the table that this key references
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
            <xsd:attribute name="foreign_table_as" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        The foreign_table_as is used TO set the alias table name in the "from" list.
                    </xsd:documentation>
                    <xsd:documentation>
                        Example "select t.id from table as t"
                    </xsd:documentation>
                    <xsd:documentation>
                        In the above example the table is renamed to t and its fields may be referenced
                        using t.fieldname. 
                    </xsd:documentation>
                    <xsd:documentation>
                        The foreign_table_as is <b>required</b> if you need to retrieve multiple sets of data from a table using different where clauses.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
                  <xsd:attribute name="foreign_key" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The field in the reference table that this key references.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="where" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        A where is used to select the data returned from a select.
                        In this location the where can fine tune the result of the
                        query, applying it specifically to the foreign table.
                    </xsd:documentation>
                    <xsd:documentation>
                        Do not provide the 'where' syntax for the where clause.
                        Instead only provide the conditions of the where clause.
                    </xsd:documentation>
                    <xsd:documentation>
                        example:<br/>
                            tb1.id=tb2.id<br/>
                            or<br/>
                            tb1.name like 'fred'<br/>
                            or<br/>
                            tb1.id=tb2.id and tb1.name like 'fred'<br/>
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
            <xsd:attribute name="function" type="xsd:string" use="optional">
                <xsd:annotation>
                    <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="text">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a text field.  This is displayed as a single line. @See textfield for
            multiple line display. 
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="length" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The storage size of the field in the database
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="unique" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as unique.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="textarea">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a text area field.  This is displayed on multiple lines. @See text for
            a single line display. 
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="length" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The storage size of the field in the database
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_height" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display height of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="want_html_edit" type="xsd:boolean" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    If this is set true then a html edit page is displayed when editing
                                    this field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="unique" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as unique.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="password">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a password field.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="length" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The storage size of the field in the database
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="link">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a link (href).
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="length" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The storage size of the field in the database
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:element name="image">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a image (img).
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="length" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The storage size of the field in the database
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="max_width" type="xsd:integer" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The max allowed width of the image.
                                </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="max_height" type="xsd:integer" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The max allowed height of the image.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="int">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for an integer field.
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
         
    <xsd:element name="timestamp">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a timestamp field.  This is displayed as a single line. The
            value of timestamp differs between databases. 
            mysql format: YYYY-MM-DD HH:MM:SS
            mssql format: unique number (possibly system time)
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
         
    <xsd:element name="datetime">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a datetime field.  This is displayed as a single line. The
            value of datetime is YYYY-MM-DD HH:MM:SS
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>
         
    <xsd:element name="date">
        <xsd:annotation>
            <xsd:documentation><![CDATA[
            A definition for a date field.  This is displayed as a single line. The
            value of datetime is YYYY-MM-DD
            ]]></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
                  <xsd:attribute name="name" type="xsd:string" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The name of the field, must match the table field name.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="presentation_name" type="xsd:string" use="required">
                  <xsd:annotation>
                        <xsd:documentation>
                        Name used when displaying the primary key.
                        </xsd:documentation>
                        </xsd:annotation>   
                  </xsd:attribute>
                  <xsd:attribute name="presentation_width" type="xsd:integer" use="required">
                        <xsd:annotation>
                              <xsd:documentation>
                                    The display width of the field.
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="editable" type="xsd:boolean" default="true" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to allow editing of this field.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="mandatory" type="xsd:boolean" default="false" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    Set true to mark this field as mandatory when editing.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="tooltip" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                                    A tooltip. Usually shown on mouse hover.
                              </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="function" type="xsd:string" use="optional">
                        <xsd:annotation>
                              <xsd:documentation>
                        If we want to call a function in the sql.
                    </xsd:documentation>
                    <xsd:documentation>
                        The function uses the '%s' String.format syntax to have
                        the field name replaced in the function.
                    </xsd:documentation>
                    <xsd:documentation>
                        example to_char(%s, 'DD/MM/RRRR HH24:MI.SS')
                        </xsd:documentation>
                        </xsd:annotation>
                  </xsd:attribute>
        </xsd:complexType>
    </xsd:element>

    <xsd:group name="table_fields">
        <xsd:annotation>
            <xsd:documentation>
            Implies an inclusion for the list of field elements for a table.
            </xsd:documentation>
        </xsd:annotation>   
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                        <xsd:element ref="pk" minOccurs="0"/>
                        <xsd:element ref="fk" minOccurs="0"/>
                        <xsd:element ref="text" minOccurs="0"/>
                        <xsd:element ref="textarea" minOccurs="0"/>
                        <xsd:element ref="link" minOccurs="0"/>
                        <xsd:element ref="password" minOccurs="0"/>
                        <xsd:element ref="image" minOccurs="0"/>
                        <xsd:element ref="int" minOccurs="0"/>
                        <xsd:element ref="timestamp" minOccurs="0"/>
                        <xsd:element ref="datetime" minOccurs="0"/>
                        <xsd:element ref="date" minOccurs="0"/>
            </xsd:choice>
        </xsd:sequence>     
    </xsd:group>
    
    <!-- 
      <xsd:attribute name="name" type="xsd:string">
            <xsd:annotation>
                  <xsd:documentation>
                        The name of the field, must match the table field name.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="presentation_name" type="xsd:string">
      <xsd:annotation>
            <xsd:documentation>
            Name used when displaying the primary key.
            </xsd:documentation>
            </xsd:annotation>   
      </xsd:attribute>

      <xsd:attribute name="presentation_width" type="xsd:integer">
            <xsd:annotation>
                  <xsd:documentation>
                        The display width of the field.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="presentation_height" type="xsd:integer">
            <xsd:annotation>
                  <xsd:documentation>
                        The display height of the field.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="tooltip" type="xsd:string">
            <xsd:annotation>
                  <xsd:documentation>
                        A tooltip. Usually shown on mouse hover.
                  </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="foreign_table" type="xsd:string">
            <xsd:annotation>
                  <xsd:documentation>
                        The name of the table that this key references
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="foreign_key" type="xsd:string">
            <xsd:annotation>
                  <xsd:documentation>
                        The field in the reference table that this key references.
                  </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="editable" type="xsd:boolean" default="true">
            <xsd:annotation>
                  <xsd:documentation>
                        Set true to allow editing of this field.
                  </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="mandatory" type="xsd:boolean" default="false">
            <xsd:annotation>
                  <xsd:documentation>
                        Set true to mark this field as mandatory when editing.
                  </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="length" type="xsd:integer">
            <xsd:annotation>
                  <xsd:documentation>
                        The storage size of the field in the database
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>
      
      <xsd:attribute name="unique" type="xsd:boolean" default="false">
            <xsd:annotation>
                  <xsd:documentation>
                        Set true to mark this field as unique.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="want_html_edit" type="xsd:boolean">
            <xsd:annotation>
                  <xsd:documentation>
                        If this is set true then a html edit page is displayed when editing
                        this field.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="max_width" type="xsd:integer">
            <xsd:annotation>
                  <xsd:documentation>
                        The max allowed width of the image.
                    </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="max_height" type="xsd:integer">
            <xsd:annotation>
                  <xsd:documentation>
                        The max allowed height of the image.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>

      <xsd:attribute name="pattern" type="xsd:string">
            <xsd:annotation>
                  <xsd:documentation>
                        Validate the value of a field by applying this java regular expression. The value must match the pattern.
            </xsd:documentation>
            </xsd:annotation>
      </xsd:attribute>
     -->

</xsd:schema>

